<header>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse.collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand">
              <a href="index.html"><h1><span><img id="logo" src="../assets/images/logo.png" width="100" height="50" alt="Soliho Public Afairs"></span></h1></a>
            </div>
          </div>

          <div class="navbar-collapse collapse">
            <div class="menu">
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation"><a [routerLink] = "['']" class="active">{{ 'NAV.HOME' | translate }}</a></li>
                <li role="presentation"><a href="#about">{{ 'NAV.ABOUT' | translate }}</a></li>
                <li role="presentation"><a [routerLink] = "['/service']">{{ 'NAV.SERVICES' | translate }}</a></li>
                <li role="presentation"><a href="#conatcat-info">{{ 'NAV.CONTACT' | translate }}</a></li>
                <li role="presentation" class="dropdown">
                  <a data-toggle="dropdown">
                    {{ language }}
                    <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li (click)="translate.use('en')"><a>
                      <span><img src="../assets/images/us.png" alt="" width="20px" height="20px"></span>Eng
                    </a></li>
                    <li (click)="translate.use('fr')"><a>
                      <span><img src="../assets/images/fr.png" alt="" width="20px" height="20px"></span>Fr</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <router-outlet></router-outlet>
<footer>
    <div class="footer">
      <div class="container">
        <div class="social-icon">
          <div class="col-md-4">
            <ul class="social-network">
              <li><a href="#" class="fb tool-tip" title="Facebook"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#" class="twitter tool-tip" title="Twitter"><i class="fa fa-twitter"></i></a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-4 col-md-offset-4">
          <div class="copyright">
            &copy; iCog-Labs. All Rights Reserved.
                        <div class="credits">
              2017
                        </div>
          </div>
        </div>
      </div>

      <div class="pull-right">
        <a href="#home" class="scrollup"><i class="fa fa-angle-up fa-3x"></i></a>
      </div>
    </div>
  </footer>
