<div class="services">
  <div class="container">
    <h3>{{ 'SERVICES.CONSULTING.TITLE' | translate }}</h3>
    <hr>
    <div class="col-md-6">
      <img src="../../assets/images/consulting.jpeg" class="img-responsive">
      <p>{{ 'SERVICES.CONSULTING.ONE' | translate }}</p>
    </div>

    <div class="col-md-6">
      <div class="media">
        <ul>
          <li>
            <div class="media-left">
            </div>
            <div class="media-body">
              <p>{{ 'SERVICES.CONSULTING.TWO' | translate }}</p>
              <ul class="list-parent">
                <li class="lists"> <span><i class="fa fa-circle" aria-hidden="true"></i> {{ 'SERVICES.CONSULTING.LISTS.ONE' | translate }} </span> </li>
                <li class="lists"> <span><i class="fa fa-circle" aria-hidden="true"></i> {{ 'SERVICES.CONSULTING.LISTS.TWO' | translate }} </span> </li>
                <li class="lists"> <span><i class="fa fa-circle" aria-hidden="true"></i> {{ 'SERVICES.CONSULTING.LISTS.THREE' | translate }} </span> </li>
                <li class="lists"> <span><i class="fa fa-circle" aria-hidden="true"></i> {{ 'SERVICES.CONSULTING.LISTS.FOUR' | translate }} </span> </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="sub-services">
  <div class="container">
    <h3>{{ 'SERVICES.PUBLIC-POLICIES.TITLE' |translate }}</h3>
    <hr>
    <div class="col-md-6">
      <div class="media">
        <ul>
          <li>
            <div class="media-left">
            </div>
            <div class="media-body">
              <p>{{ 'SERVICES.PUBLIC-POLICIES.TWO' | translate }}</p>
              <p>{{ 'SERVICES.PUBLIC-POLICIES.THREE' |translate }}</p>
                <ul class="list-parent">
                  <li class="lists"> <span><i class="fa fa-circle" aria-hidden="true"></i> {{ 'SERVICES.PUBLIC-POLICIES.LISTS.ONE' | translate }} </span> </li>
                  <li class="lists"> <span><i class="fa fa-circle" aria-hidden="true"></i> {{ 'SERVICES.PUBLIC-POLICIES.LISTS.TWO' | translate }} </span> </li>
                  <li class="lists"> <span><i class="fa fa-circle" aria-hidden="true"></i> {{ 'SERVICES.PUBLIC-POLICIES.LISTS.THREE' | translate }} </span> </li>
                  <li class="lists"> <span><i class="fa fa-circle" aria-hidden="true"></i> {{ 'SERVICES.PUBLIC-POLICIES.LISTS.FOUR' | translate }} </span> </li>
                  <li class="lists"> <span><i class="fa fa-circle" aria-hidden="true"></i> {{ 'SERVICES.PUBLIC-POLICIES.LISTS.FIVE' | translate }} </span> </li>
                  <li class="lists"> <span><i class="fa fa-circle" aria-hidden="true"></i> {{ 'SERVICES.PUBLIC-POLICIES.LISTS.SIX' | translate }} </span> </li>
                </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-6">
      <img src="../../assets/images/policies.jpg" class="img-responsive">
      <p>{{ 'SERVICES.PUBLIC-POLICIES.ONE' | translate }}</p>
    </div>
  </div>
</div>

<div class="services" id="financing">
  <div class="container">
    <h3>{{ 'SERVICES.FINANCING.TITLE' | translate }}</h3>
    <hr>
    <div class="col-md-6">
      <img src="../../assets/images/fainancing.jpg" class="img-responsive">
      <p>{{ 'SERVICES.FINANCING.ONE' | translate }}</p>
    </div>

    <div class="col-md-6">
      <div class="media">
        <ul>
          <li>
            <div class="media-left">
            </div>
            <div class="media-body">
              <p> {{ 'SERVICES.FINANCING.TOW' | translate }}  </p>
              <ul class="list-parent">
                <li class="lists"> <span><i class="fa fa-circle" aria-hidden="true"></i> {{ 'SERVICES.FINANCING.LISTS.ONE' | translate }} </span> </li>
                <li class="lists"> <span><i class="fa fa-circle" aria-hidden="true"></i> {{ 'SERVICES.FINANCING.LISTS.TOW' | translate }} </span> </li>
                <li class="lists"> <span><i class="fa fa-circle" aria-hidden="true"></i> {{ 'SERVICES.FINANCING.LISTS.THREE' | translate }} </span> </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="sub-services">
  <div class="container">
    <h3>{{ 'SERVICES.DIASPORAS.TITLE' | translate }}</h3>
    <hr>
    <div class="col-md-6">
      <div class="media">
        <ul>
          <li>
            <div class="media-left">
            </div>
            <div class="media-body">
              <p>{{ 'SERVICES.DIASPORAS.ONE' | translate }}</p>
            </div>
          </li>
          <li>
            <div class="media-left">
            </div>
            <div class="media-body">
              <p>{{ 'SERVICES.DIASPORAS.TWO' | translate }}</p>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-6">
      <img src="../../assets/images/diaspora.png" class="img-responsive">
    </div>
  </div>
</div>
