<h2 style="text-align: center;">Linked Institutions</h2>
<div class="slider-content">
  <div class="slider-wrap">
    <ul>
      <li>
        <a href="http://www.maghrebarabe.org/en/">
          <img src="../../assets/images/s'union.png" alt="30 Days to Learn HTML + CSS" />
          <h5>ARAB MAGHREB UNION (UMA)</h5>
        </a>
      </li>

      <li>
        <a href="http://net.tutsplus.com/articles/news/an-upd">
          <img src="../../assets/images/commonMarket.png" alt="An Update on Nettuts+ Prefixr" />
          <h5>COMMON MARKET FOR EASTERN AND SOUTHERN AFRICA (COMESA)</h5>
        </a>
      </li>

      <li>
        <a href="http://www.censad.org/">
          <img src="../../assets/images/CENSA.png" alt="Take the Rockable Survey" />
          <h5>COMMUNITY OF SAHEL-SAHARAN STATES(CEN-SAD)</h5>
        </a>
      </li>

      <li>
        <a href="https://www.eac.int/">
          <img src="../../assets/images/EAC.png" />
          <h5>EAST AFRICAN COMMUNITY (EAC)</h5>
        </a>
      </li>

      <li>
        <a href="http://www.ceeac-eccas.org/">
          <img src="../../assets/images/CEEAC.png" />
          <h5>ECONOMIC COMMUNITY OF CENTRAL AFRICAN STATES (ECCAS)</h5>
        </a>
      </li>

      <li>
        <a href="http://www.ecowas.int/">
          <img src="../../assets/images/igad.png" />
          <h5>ECONOMIC COMMUNITY OF WEST AFRICAN STATES (ECOWAS)</h5>
        </a>
      </li>

      <li>
        <a href="https://igad.int/">
          <img src="../../assets/images/SADC.png" />
          <h5>INTERGOVERNMENTAL AUTHORITY ON DEVELOPMENT (IGAD)</h5>
        </a>
      </li>

      <li>
        <a href="http://www.sadc.int/">
          <img src="../../assets/images/EroCouncil.png" />
          <h5>SOUTHERN AFRICAN DEVELOPMENT COMMUNITY (SADC)</h5>
        </a>
      </li>

      <li>
        <a href="http://www.europarl.europa.eu/portal/en">
          <img src="../../assets/images/EroPariliament.png" />
          <h5>EUROPEAN PARLIAMENT</h5>
        </a>
      </li>

      <li>
        <a href="http://www.consilium.europa.eu/en/european-council/">
          <img src="../../assets/images/EroCouncil.png" />
          <h5>EUROPEAN COUNCIL</h5>
        </a>
      </li>

      <li>
        <a href="https://ec.europa.eu/commission/index_en">
          <img src="../../assets/images/EroCommission.png" />
          <h5>EUROPEAN COUNCIL</h5>
        </a>
      </li>

      <li>
        <a href="https://curia.europa.eu/jcms/jcms/j_6/en/">
          <img src="../../assets/images/CURIA.png" />
          <h5>COURT OF JUSTICE OF THE EUROPEAN UNION (CJEU)</h5>
        </a>
      </li>

      <li>
        <a href="https://www.ecb.europa.eu/home/html/index.en.html">
          <img src="../../assets/images/ECB.png" />
          <h5>EUROPEAN CENTRAL BANK (ECB)</h5>
        </a>
      </li>

      <li>
        <a href="https://eeas.europa.eu/headquarters/headquarters-homepage_en">
          <img src="../../assets/images/EroUnionExternalAction.png" />
          <h5>EUROPEAN EXTERNAL ACTION SERVICE (EEAS)</h5>
        </a>
      </li>

      <li>
        <a href="http://www.eca.europa.eu/en/Pages/ecadefault.aspx">
          <img src="../../assets/images/ECA.png" />
          <h5>EUROPEAN COURT OF AUDITORS</h5>
        </a>
      </li>

      <li>
        <a href="http://www.eesc.europa.eu/">
          <img src="../../assets/images/EESC.png" />
          <h5>EUROPEAN ECONOMIC AND SOCIAL COMMITTEE (EESC)</h5>
        </a>
      </li>

      <li>
        <a href="http://cor.europa.eu/Pages/welcome.html">
          <img src="../../assets/images/Eu'sAssembley.png" />
          <h5>EUROPEAN COMMITTEE OF THE REGIONS (COR)</h5>
        </a>
      </li>

      <li>
        <a href="http://www.eib.org/">
          <img src="../../assets/images/EIB.png" />
          <h5>EUROPEAN INVESTMENT BANK</h5>
        </a>
      </li>

      <li>
        <a href="https://www.ombudsman.europa.eu/home.faces">
          <img src="../../assets/images/ombdsman.png" />
          <h5>EUROPEAN OMBUDSMAN</h5>
        </a>
      </li>

      <li>
        <a href="https://edps.europa.eu/">
          <img src="../../assets/images/EFP.png" />
          <h5>European Data Protection Supervisor</h5>
        </a>
      </li>
    </ul>
  </div>
</div> 
